%h2 Administration

%a{:href => "/admin/new_post"} Create a new blog post

%h3 Posts
%table
  %tr
    %th Title
    %th Actions
  - @posts.each do |post|
    %tr
      %td= post.title
      %td
        %a{:href => "/post/#{post.link}"} [View]
        %a{:href => "/admin/edit/#{post.id}"} [Edit]
        [Delete]