%html
  %head
    %title Yarbe
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => 'stylesheet', :type =>'text/css', :href => '/yarbe.css' }
  %body
    #header
      %h1 Yet Another Ruby Blog Engine
      %h2 This is just a template blog. Change at will!
      - @messages and @messages.each do |message|
        .message= message
    #content= yield