- @posts.each_with_index do |post, index|
  .post{:id => "post#{index}"}
    %a{:class => "title", :href => "/post/#{post.link}"}= post.title
    .published_date= format_date(post.created_at)
    .summary~ post.summary
    - if post.more?
      %a{:class => "more", :href => "/post/#{post.link}"} Continue reading...
