=heading
  color: #666666
  font-size: 20px

body
  font-family: georgia,times,"times new roman",serif
  padding-left: 20px

#header
  font-size: 20px
  
#content
  padding-left: 20px

.title
  +heading
  font-family: arial,helvetica,sans-serif
  letter-spacing: 2px
  
.published_date
  font-size: 12px
  
.blurb
  padding-left: 10px
  margin:
    top: 10px
    bottom: 40px
    
.field-group
  margin-bottom: 20px
  
.field
  +heading
